* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    width: 100vw;
    font-family: "Roboto Mono", monospace, sans-serif;
}

p {
    margin: 1.5rem 2.5rem;
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
}

h1 {
    text-align: center;
    margin: 1rem;
    text-decoration: underline;
}

#container {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    padding: 1.5rem 2.5rem;
    display: flex;
    justify-content: space-around;
    gap: 3rem;

}

.pic-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    gap: 1rem;
}

.box-2 {
    flex-direction: column; 
}

.pic-container1 {
    height: 50%;
    width: 100%;
    display: flex;
    
}

.pic-container img,
.pic-container1 img {
    display: inline-block;
    object-fit: cover;
}

.pic-container1 img {
    width: 100%;
}